body {
  color: #3f3f3f;
  font-family: "M PLUS Rounded 1p";
}

p,
ul li {
  font-family: "M PLUS Rounded 1p";
  color: #3f3f3f;
  text-align: center;
}

a {
  font-family: "M PLUS Rounded 1p";
  text-decoration: none;
  color: #3f3f3f;
  text-align: center;
}

table tr td {
  font-family: "M PLUS Rounded 1p";
}

a:hover {
  color: #E5A9D0;
  transition: .2s;
}

header {
  height: 80vh;
  background: url(img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 30px;
  text-shadow: #00adff 0 0 15px;
  text-align: center;
  padding-top: 30vh;
}

header h2 {
  color: #fff;
  font-family: 'Arimo', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-shadow: #00adff 0 0 7px;
  text-align: center;
  padding-top: 1.2vh;
}

header p {
  color: #fff;
  font-family: 'Pacifico',
    cursive;
  font-weight: 100;
  letter-spacing: .1em;
  font-size: 20px;
  text-shadow: #00adff 0 0 7px;
  text-align: center;
  padding-top: 2vh;
}

nav {
  padding: 5px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

nav ul {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding-right: 20px;
}

nav a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}

h2,
h3,
h4 {
  display: block;
  margin: 20px 15px;
  color: #333;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  text-align: center;
  clear: both;
}

h2 {
  margin: 70px 15px 40px;
}

h3 {
  margin: 50px 15px 30px;
}

h4,
h5,
h6 {
  font-weight: 700;
}

#about {
  width: 100vw;
  text-align: center;
}

#about p {
  font-family: 'Arimo', sans-serif;
}

#about ul {
  float: left;
  position: relative;
  width: 100vw;
  padding: 0;
  margin-bottom: 30px;
}

#about ul li {
  display: block;
  position: relative;
  list-style-type: none;
  color: #3f3f3f;
  text-align: center;
  line-height: 23px;
}

iframe {
  margin: 30px;
}

table {
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 0 10px;
  text-align: center;
  color: #3f3f3f;
}

.circle {
  border-radius: 50%;
  color: #fff;
  font-family: 'Arimo', sans-serif;
  margin: 20px;
  padding: 0;
  width: 55px;
  height: 55px;
  background-color: #AED9E0;
  font-size: 13px;
}

.transfar {
  color: #ddd;
  font-size: 14px;
  line-height: 35px;
}

#spot {
  text-align: center;
}

.flex {
  width: 100vw;
  display: flex;
  display: -webkit-flex;
  /* flex-direction: column; */
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex img {
  display: inline-block;
}

.container img {
  clear: both;
  width: 350px;
  float: center;
}

.container {
  position: relative;
}

.dl-title {
  display: inline-block;
  width: 52vw;
  float: left;
  text-align: right;
}

.dl {
  display: inline-block;
  float: left;
  position: relative;
  top: -10px;
  background: #E5A9D0;
  border-radius: 50%;
  text-align: center;
  margin: 0;
  margin-left: 10px;
  padding: 0 5px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  color: #FFF;
  font-size: 20px;
  border-radius: 50%;
  box-sizing: border-box;
}

.dl:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -23px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #E5A9D0;
  z-index: 0;
}

.dl a {
  display: block;
  padding: 0;
  margin: 0;
  height: 20px;
  color: #fff;
  font-family: 'Pacifico',
    cursive;
  font-size: 12px;
  line-height: 50px;
  font-weight: 100;
}

.dl a:hover,
.dl a:visited {
  color: ##E5A9D0;
  font-weight: 800;
  transform: rotate(90);
  transition: 1s;
}

.map-img {
  display: block;
  width: 100vw;
  clear: both;
  margin: -100px 10px 0;
}

.mao-img img {
  margin: -70px 10px 0;
}

#spot ul li {
  margin-left: 30vw;
}

.card {
  background: #F7F5BE;
  margin: 10px;
}

.area .card {
  background: #D4F4DD;
}

details {
  transition: 1s;
}

summary {
  cursor: pointer;
  display: inline-block;
  /* width: 300px;
  padding: 10px; */
}

summary h4 {
  display: inline-block;
}

summary h5 {
  display: inline-block;
}

.airbnb img {
  display: block;
  margin: 0 auto;
}

.host img {
  width: 150px;
  border-radius: 50%;
  padding: 10px 0 20px;
}

.airbnb img {
  margin: 10px auto;
}

.airbnb ul {
  position: relative;
  left: -15%;
  width: 100vw;
}

.airbnb ul li {
  list-style-type: none;
  color: #3f3f3f;
  line-height: 23px;
}

footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}